In this notebook, we'll gather the main KCPD yearly crime datasets which form the basis of our analysis & also provide the known outcomes for training models. We'll then gather any other datasets which we want to include in our analysis, and merge them to the KCPD crime data. The end result will be a clean & tidy dataset ready for analysis & model training.

In [1]:
import pandas as pd
import numpy as np
import requests
import os

data_dir = './data/' # We'll download raw files to this path

# Create a function to handle downloading raw data files
def download_file(url, dir, file) :
    """Downloads a file from url and writes it to dir+file.
       Skips download if local file already exists."""
    if not os.path.exists(dir) :
        os.makedirs(dir)
    if not os.path.exists(dir+file) :
        # intent is to avoid re-download the file on repeat runs
        r = requests.get(url)
        with open(dir+file, 'wb') as f :
            f.write(r.content)

In [2]:
##########################
# Download KCPD crime data
##########################

#KCPD Crime 2009
url = 'https://data.kcmo.org/api/views/6efz-664k/rows.csv?accessType=DOWNLOAD'
download_file(url, data_dir, 'KCPD-Crime-Data-2009.csv')

#KCPD Crime 2010
url = 'https://data.kcmo.org/api/views/tk79-kf9y/rows.csv?accessType=DOWNLOAD'
download_file(url, data_dir, 'KCPD-Crime-Data-2010.csv')

#KCPD Crime 2011
url = 'https://data.kcmo.org/api/views/nt2f-uxvx/rows.csv?accessType=DOWNLOAD'
download_file(url, data_dir, 'KCPD-Crime-Data-2011.csv')

#KCPD Crime 2012
url = 'https://data.kcmo.org/api/views/csec-aghy/rows.csv?accessType=DOWNLOAD'
download_file(url, data_dir, 'KCPD-Crime-Data-2012.csv')

#KCPD Crime 2013
url = 'https://data.kcmo.org/api/views/m3xd-e7tp/rows.csv?accessType=DOWNLOAD'
download_file(url, data_dir, 'KCPD-Crime-Data-2013.csv')

#KCPD Crime 2014
url = 'https://data.kcmo.org/api/views/yu5f-iqbp/rows.csv?accessType=DOWNLOAD'
download_file(url, data_dir, 'KCPD-Crime-Data-2014.csv')

#KCPD Crime 2015
url = 'https://data.kcmo.org/api/views/kbzx-7ehe/rows.csv?accessType=DOWNLOAD'
download_file(url, data_dir, 'KCPD-Crime-Data-2015.csv')

#KCPD Crime 2016
url = 'https://data.kcmo.org/api/views/wbz8-pdv7/rows.csv?accessType=DOWNLOAD'
download_file(url, data_dir, 'KCPD-Crime-Data-2016.csv')

#KCPD Crime 2017
url = 'https://data.kcmo.org/api/views/98is-shjt/rows.csv?accessType=DOWNLOAD'
download_file(url, data_dir, 'KCPD-Crime-Data-2017.csv')

#KCPD Crime 2018
url = 'https://data.kcmo.org/api/views/dmjw-d28i/rows.csv?accessType=DOWNLOAD'
download_file(url, data_dir, 'KCPD-Crime-Data-2018.csv')

###########################
# Download FRED datasets
###########################

#KANS129UR - KC monthly unemployment rates
url = 'https://fred.stlouisfed.org/graph/fredgraph.csv?cosd=1990-01-01&coed=2018-04-01&mode=fred&id=KANS129UR&nd=1990-01-01&fgsnd=2009-06-01&fq=Monthly&fam=avg'
download_file(url, data_dir, 'KANS129UR.csv')

#ATNHPIUS28140Q - All-Transactions House Price Index for Kansas City, MO-KS (MSA)
url = 'https://fred.stlouisfed.org/graph/fredgraph.csv?cosd=1976-01-01&coed=2018-01-01&mode=fred&id=ATNHPIUS28140Q&nd=1976-01-01&fgsnd=2009-06-01&fq=Quarterly&fam=avg'
download_file(url, data_dir, 'ATNHPIUS28140Q.csv')

#KANS129PCPI - Per Capita Personal Income in Kansas City, MO-KS (MSA)
url = 'https://fred.stlouisfed.org/graph/fredgraph.csv?&cosd=1969-01-01&coed=2016-01-01&mode=fred&id=KANS129PCPI&nd=1969-01-01&fgsnd=2009-06-01&fq=Annual&fam=avg'
download_file(url, data_dir, 'KANS129PCPI.csv')

#KANS129BPPRIV - New Private Housing Units Authorized by Building Permits for Kansas City, MO-KS (MSA)
url = 'https://fred.stlouisfed.org/graph/fredgraph.csv?&cosd=1988-01-01&coed=2018-04-01&mode=fred&id=KANS129BPPRIV&fq=Monthly&fam=avg'
download_file(url, data_dir, 'KANS129BPPRIV.csv')

#######################################
# Download other miscellaneous datasets
#######################################

# 2010 census & 2011-2017 intercensal estimates for Missouri cities & incorporated places
# (info: https://www.census.gov/data/tables/2017/demo/popest/total-cities-and-towns.html)
url = 'https://www2.census.gov/programs-surveys/popest/datasets/2010-2017/cities/totals/sub-est2017_29.csv'
download_file(url, data_dir, 'sub-est2017_29.csv')

# Mapping of US zip codes to city names (need this to join census data to KCPD data)
url = 'https://www.aggdata.com/download_sample.php?file=us_postal_codes.csv'
download_file(url, data_dir, 'us_postal_codes.csv')

In [3]:
# read kcpd files to pandas dataframes
file = data_dir+'KCPD-Crime-Data-2009.csv'
kcpd2009_raw = pd.read_csv(file, encoding='utf-8')

file = data_dir+'KCPD-Crime-Data-2010.csv'
kcpd2010_raw = pd.read_csv(file, encoding='utf-8')

file = data_dir+'KCPD-Crime-Data-2011.csv'
kcpd2011_raw = pd.read_csv(file, encoding='utf-8')

file = data_dir+'KCPD-Crime-Data-2012.csv'
kcpd2012_raw = pd.read_csv(file, encoding='utf-8')

file = data_dir+'KCPD-Crime-Data-2013.csv'
kcpd2013_raw = pd.read_csv(file, encoding='utf-8')

file = data_dir+'KCPD-Crime-Data-2014.csv'
kcpd2014_raw = pd.read_csv(file, encoding='utf-8')

file = data_dir+'KCPD-Crime-Data-2015.csv'
kcpd2015_raw = pd.read_csv(file, encoding='utf-8')

file = data_dir+'KCPD-Crime-Data-2016.csv'
kcpd2016_raw = pd.read_csv(file, encoding='utf-8')

file = data_dir+'KCPD-Crime-Data-2017.csv'
kcpd2017_raw = pd.read_csv(file, encoding='utf-8')

file = data_dir+'KCPD-Crime-Data-2018.csv'
kcpd2018_raw = pd.read_csv(file, encoding='utf-8')

In [4]:
# let's take a peek at the column names & order in a couple
# of the KCPD datasets, and see if there is anything weird

kcpd2009_raw.columns

Index(['Report_No', 'Reported_Date', 'Reported Time', 'From_Date', 'From Time',
       'To_Date', 'To_Time', 'Offense', 'IBRS', 'Description', 'Beat',
       'Address', 'City', 'Zip Code', 'Rep_Dist', 'Area', 'DVFlag', 'Invl_No',
       'Involvement', 'Race', 'Sex', 'Age', 'Location 1',
       'Firearm Used Flag  '],
      dtype='object')

In [5]:
# surprise! 'Zip Code' and 'City' columns in different positions
# in 2010 file than they were in 2009 file
kcpd2010_raw.columns

Index(['Report_No', 'Reported_Date', 'Reported Time', 'From_Date', 'From Time',
       'To_Date', 'To Time', 'Offense', 'IBRS', 'Description', 'Beat',
       'Address', 'Zip Code', 'City', 'Rep_Dist', 'Area', 'DVFlag', 'Invl_No',
       'Involvement', 'Race', 'Sex', 'Age', 'Location 1',
       'Firearm Used Flag  '],
      dtype='object')

In [6]:
def clean_column_names(df) :
    """Cleans up dataframe column names to lowercase, strip leading/trailing space,
       and replace spaces with underscores."""
    cols = list(df.columns)
    cols = (col.lower() for col in cols)
    cols = (col.strip() for col in cols)
    cols = (col.replace(' ','_') for col in cols)
    
    #one column is named 'Location_1' in some files, and 'Location' in others
    cols = (col.replace('location_1','location') for col in cols)
    
    df.columns = list(cols)
    
    return df

In [7]:
# clean up the column names in all the raw dataframes
kcpd2009_raw = clean_column_names(kcpd2009_raw)
kcpd2010_raw = clean_column_names(kcpd2010_raw)
kcpd2011_raw = clean_column_names(kcpd2011_raw)
kcpd2012_raw = clean_column_names(kcpd2012_raw)
kcpd2013_raw = clean_column_names(kcpd2013_raw)
kcpd2014_raw = clean_column_names(kcpd2014_raw)
kcpd2015_raw = clean_column_names(kcpd2015_raw)
kcpd2016_raw = clean_column_names(kcpd2016_raw)
kcpd2017_raw = clean_column_names(kcpd2017_raw)
kcpd2018_raw = clean_column_names(kcpd2018_raw)

In [8]:
# We've got a bunch of data cleaning to do on the KCPD data,
# so let's put it in a function that we can apply to each file easily.
def kcpd_clean(df) :
    """Cleans a pandas dataframe of KCPD crime data for a given year &
       prunes down to attributes that will be used for analysis.
    """

    # The KCPD Crime Data contains multiple rows for a given Report_No.
    # There is row with 'involvement == 'VIC' for a victim, and possibly a
    # 'SUS' row for a suspect, an 'ARR' for an arrestee, or multiple of any
    # or all of these.
    #
    # There can also be multiple different 'Offense' / 'IBRS' codes on a single
    # report. Multiple offenses might have been reported as part of the same
    # incident.
    #
    # For purposes of our analysis, I only want to count distinct offenses within
    # an incident report. Therefore I am only keeping rows where 'involvement' == 'VIC',
    # and only keeping the first one of those where there are multiple 'VIC' rows for
    # the same 'report_no' & 'IBRS'.
    
    # Keep 'involvement' = 'VIC' (victim) rows; we'll count crimes by type & victim
    # Also drop rows that appear to be duplicates (i.e. two #1 victims on report for same IBRS code).
    df = df[df['involvement']=='VIC'].drop_duplicates(subset=['report_no','ibrs','invl_no'], keep='first')
    
    # convert string dates to datetimes (ignore time of day; not significant for analyzing monthly crime stats)
    df['reported_date'] = pd.to_datetime(df['reported_date'])
    df['from_date'] = pd.to_datetime(df['from_date'])
    df['to_date'] = pd.to_datetime(df['to_date'].str[:10])
    
    # we don't care about data earlier than 2009, and there are
    # a small percentage of rows with from_date < 2009 in the 2009 file
    df = df[df['from_date'] >= '2009-01-01']
        
    # Drop rows with missing dates, missing zipcodes, or from & to dates in different months
    # (spanning months is no good for monthly aggregation; these are a low percentage of data)
    # TODO: use lat/long if available to look up missing zip (low priority, this is small % of null values)
    mask = (
         df['zip_code'].notnull() &
         df['from_date'].notnull() & (
         df['to_date'].isnull() |
         (df['from_date'].dt.month == df['to_date'].dt.month))
    )
    df = df[mask]
    
    # get rid of decimal on zip codes
    df['zip_code'] = df['zip_code'].astype(str).str.replace('.','').str[:5]
    
    # get rid of non 5 digit zip codes
    df = df[df['zip_code'].str.len() == 5]
    
    # get rid of zip codes obviously not in KCMO
    df = df[df['zip_code'].str[:2].astype(int) == 64]
    
    # clean up the remaining variables
    df['firearm_used'] = df['firearm_used_flag'].apply(lambda x: 1 if x == 'Y' else 0)
    df['dvflag'] = df['dvflag'].apply(lambda x: 1 if x == 'Y' else 0) #ignoring "U" (unknown)
    
    # derive more useful features based on offense/ibrs codes (per https://ucr.fbi.gov/nibrs/nibrs-user-manual)
    ibrs_society = ['720','35A','35B','39A','39B','39C','39D','370','40A','40B','40C','520']
    ibrs_property = ['200','510','220','250','290','270','210','26A','26B','26C','26D','26E',
                     '26F','26G','23A','23B','23C','23D','23E','23F','23G','23H','240','120',
                     '280']
    ibrs_person = ['13A','13B','13C','09A','09B','64A','64B','100','11A','11B','11C','11D','36A','36B']
    ibrs_other = ['90A','90B','90C','90D','90E','90F','90G','90H','90J','90Z'] # all Class B offenses

    # one-hot encoding broader categories of offenses
    df['offense_society'] = df['ibrs'].isin(ibrs_society).map(lambda x: 1 if x else 0)
    df['offense_property'] = df['ibrs'].isin(ibrs_property).map(lambda x: 1 if x else 0)
    df['offense_person'] = df['ibrs'].isin(ibrs_person).map(lambda x: 1 if x else 0)
    df['offense_other'] = df['ibrs'].isin(ibrs_other).map(lambda x: 1 if x else 0)
    
    #return new dataframe with only columns we need for subsequent analysis    
    return df[['report_no','from_date','zip_code','dvflag','firearm_used',
              'offense_society','offense_property','offense_person','offense_other']]

In [9]:
# process remaining KCPD files through kcpd_transform
kcpd2009 = kcpd_clean(kcpd2009_raw)
kcpd2010 = kcpd_clean(kcpd2010_raw)
kcpd2011 = kcpd_clean(kcpd2011_raw)
kcpd2012 = kcpd_clean(kcpd2012_raw)
kcpd2013 = kcpd_clean(kcpd2013_raw)
kcpd2014 = kcpd_clean(kcpd2014_raw)
kcpd2015 = kcpd_clean(kcpd2015_raw)
kcpd2016 = kcpd_clean(kcpd2016_raw)
kcpd2017 = kcpd_clean(kcpd2017_raw)
kcpd2018 = kcpd_clean(kcpd2018_raw)

In [10]:
# concatenate (union all) the cleaned kcpd dataframes
kcpd_clean_full = pd.concat(
    [kcpd2009, kcpd2010, kcpd2011, kcpd2012, kcpd2013, kcpd2014,
     kcpd2015, kcpd2016, kcpd2017, kcpd2018]
    , ignore_index=True
)

kcpd_clean_full.head()

,report_no,from_date,zip_code,dvflag,firearm_used,offense_society,offense_property,offense_person,offense_other
0,70060962,2009-01-28,64130,0,0,0,1,0,0
1,60060154,2009-08-06,64132,0,0,0,0,0,1
2,70096978,2009-04-12,64111,0,0,0,0,0,1
3,80057891,2009-08-08,64130,0,0,0,1,0,0
4,80044636,2009-03-25,64110,0,0,0,0,0,1

In [11]:
# Now, since we want to analyze the KCPD data for crimes per zipcode per month,
# it makes sense to roll up the data to the zipcode-month level.
# This function will handle that.

import datetime

def kcpd_rollup_monthly_by_zip(df) :
    """Rolls up KCPD crime data by month and zip code."""
    

    df['from_date'] = df['from_date'].values.astype('datetime64[M]')

    grouped = df.groupby(['from_date','zip_code']).agg({
                                                        "offense_society": "sum", "offense_person": "sum",
                                                        "offense_property": "sum", "offense_other": "sum",
                                                        "dvflag": "sum", "firearm_used": "sum"
                                                    })
    grouped.columns = ['offense_society','offense_person','offense_property',
                       'offense_other','dv','firearm']
    
    grouped['offense_total'] = (
        grouped['offense_society']
        + grouped['offense_person']
        + grouped['offense_property']
        + grouped['offense_other']
    )
    
    return grouped

In [12]:
# Run the cleaned KCPD dataset through the rollup function
kcpd_agged = kcpd_rollup_monthly_by_zip(kcpd_clean_full)

# DataFrame.groupby results in hierarchical index, don't want that
# right now so resetting index on the dataframe
kcpd_agged.reset_index(inplace=True)

# add fields for year, month, & quarter (need these to join other datasets)
kcpd_agged['year'] = kcpd_agged['from_date'].dt.year
kcpd_agged['month'] = kcpd_agged['from_date'].dt.month
kcpd_agged['quarter'] = kcpd_agged['from_date'].dt.quarter

kcpd_agged.head(10)

,from_date,zip_code,offense_society,offense_person,offense_property,offense_other,dv,firearm,offense_total,year,month,quarter
0,2009-01-01,64030,0,0,0,0,2,0,0,2009,1,1
1,2009-01-01,64050,2,0,0,0,0,0,2,2009,1,1
2,2009-01-01,64101,9,0,1,1,0,0,11,2009,1,1
3,2009-01-01,64102,1,1,0,1,1,2,3,2009,1,1
4,2009-01-01,64104,1,0,0,0,0,0,1,2009,1,1
5,2009-01-01,64105,32,1,5,3,0,3,41,2009,1,1
6,2009-01-01,64106,93,5,26,38,13,7,162,2009,1,1
7,2009-01-01,64107,1,0,0,0,0,0,1,2009,1,1
8,2009-01-01,64108,81,7,11,33,8,11,132,2009,1,1
9,2009-01-01,64109,129,11,14,54,10,18,208,2009,1,1

In [13]:
# import population estimates data
file = data_dir+'sub-est2017_29.csv'
pop_est = pd.read_csv(file)

pop_est.head()

,SUMLEV,STATE,COUNTY,PLACE,COUSUB,CONCIT,PRIMGEO_FLAG,FUNCSTAT,NAME,STNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2015,POPESTIMATE2016,POPESTIMATE2017
0,40,29,0,0,0,0,0,A,Missouri,Missouri,5988927,5988925,5995681,6010280,6023267,6041142,6058014,6072640,6091176,6113532
1,162,29,0,244,0,0,0,A,Adrian city,Missouri,1677,1677,1676,1668,1633,1617,1628,1609,1610,1608
2,162,29,0,262,0,0,0,A,Advance city,Missouri,1347,1347,1349,1340,1339,1338,1352,1350,1350,1348
3,162,29,0,298,0,0,0,A,Agency village,Missouri,684,683,683,686,685,684,681,680,676,674
4,162,29,0,424,0,0,0,A,Airport Drive village,Missouri,698,698,699,703,823,835,838,845,846,850

In [14]:
# import zipcodes file (maps zipcode to city name)
file = data_dir+'us_postal_codes.csv'
zipcodes = pd.read_csv(file)

zipcodes.head()

,Zip Code,Place Name,State,State Abbreviation,County,Latitude,Longitude
0,501,Holtsville,New York,NY,Suffolk,40.8154,-73.0451
1,544,Holtsville,New York,NY,Suffolk,40.8154,-73.0451
2,1001,Agawam,Massachusetts,MA,Hampden,42.0702,-72.6227
3,1002,Amherst,Massachusetts,MA,Hampshire,42.3671,-72.4646
4,1003,Amherst,Massachusetts,MA,Hampshire,42.3919,-72.5248

In [15]:
# Clean city names in pop_est to match zipcodes.
# In pop_est, they all end in an extraneous word 'city','village',
# 'town', etc. (For example, Kansas City is "Kansas City city".)
import re

def clean_city_names (city_series) :
    city_series_clean = {}
    for idx, city in city_series.iteritems() :
        city_split = city.split(" ")
        if len(city_split) > 1 :
            if city_split[-2] in ['city','village','town','township'] : # some are like 'Something City city (pt.)'
                city_split = city_split[:-2]
        if city_split[-1] in ['city','village','town','township','(pt.)'] :
            city_split = city_split[:-1]
        if len(city_split) > 1 :
            city_series_clean[idx] = ' '.join(city_split)
        else :
            city_series_clean[idx] = city_split[0]
    return pd.Series(city_series_clean)

In [16]:
# We only care about the Incorporated Place summary level (SUMLEV = 162)
# in the population estimate dataset. (We don't want the county or state level summary.)
pop_est = pop_est[pop_est['SUMLEV']==162]

In [17]:
# clean the city names
city_clean = pd.DataFrame(clean_city_names(pop_est['NAME']))

city_clean.columns = ['city']
city_clean.head()

            city
1         Adrian
2        Advance
3         Agency
4  Airport Drive
5           Alba

In [18]:
# Join the cleaned city names to the pop_est set
pop_est_2 = pop_est.merge(city_clean, how='outer', left_index=True, right_index=True)

pop_est_2.head()

,SUMLEV,STATE,COUNTY,PLACE,COUSUB,CONCIT,PRIMGEO_FLAG,FUNCSTAT,NAME,STNAME,...,ESTIMATESBASE2010,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2015,POPESTIMATE2016,POPESTIMATE2017,city
1,162,29,0,244,0,0,0,A,Adrian city,Missouri,...,1677,1676,1668,1633,1617,1628,1609,1610,1608,Adrian
2,162,29,0,262,0,0,0,A,Advance city,Missouri,...,1347,1349,1340,1339,1338,1352,1350,1350,1348,Advance
3,162,29,0,298,0,0,0,A,Agency village,Missouri,...,683,683,686,685,684,681,680,676,674,Agency
4,162,29,0,424,0,0,0,A,Airport Drive village,Missouri,...,698,699,703,823,835,838,845,846,850,Airport Drive
5,162,29,0,496,0,0,0,A,Alba city,Missouri,...,555,556,555,541,544,545,542,541,542,Alba

In [19]:
# reshape pop_est as (city, year, population) 
pop_est_2 = pop_est_2[['city','ESTIMATESBASE2010','POPESTIMATE2011','POPESTIMATE2012',
          'POPESTIMATE2013','POPESTIMATE2014','POPESTIMATE2015','POPESTIMATE2016','POPESTIMATE2017']]

pop_est_2.columns = ['city','2010','2011','2012','2013','2014','2015','2016','2017']

pop_est_melted = pd.melt(pop_est_2, id_vars='city', var_name = 'year', value_name = 'population')

pop_est_melted['year'] = pop_est_melted['year'].astype(int)

pop_est_melted.head()

            city  year  population
0         Adrian  2010        1677
1        Advance  2010        1347
2         Agency  2010         683
3  Airport Drive  2010         698
4           Alba  2010         555

In [20]:
# get zip codes list into dataframe
zipcodes_raw = pd.read_csv(data_dir+'us_postal_codes.csv')

zipcodes_raw.head()

,Zip Code,Place Name,State,State Abbreviation,County,Latitude,Longitude
0,501,Holtsville,New York,NY,Suffolk,40.8154,-73.0451
1,544,Holtsville,New York,NY,Suffolk,40.8154,-73.0451
2,1001,Agawam,Massachusetts,MA,Hampden,42.0702,-72.6227
3,1002,Amherst,Massachusetts,MA,Hampshire,42.3671,-72.4646
4,1003,Amherst,Massachusetts,MA,Hampshire,42.3919,-72.5248

In [21]:
# drop all non-Missouri zip codes
zipcodes_raw = zipcodes_raw[zipcodes_raw['State']=='Missouri']

zipcodes_raw.head()

,Zip Code,Place Name,State,State Abbreviation,County,Latitude,Longitude
26715,63005,Chesterfield,Missouri,MO,St. Louis,38.6318,-90.6142
26716,63006,Chesterfield,Missouri,MO,St. Louis,38.6631,-90.5771
26717,63010,Arnold,Missouri,MO,Jefferson,38.4305,-90.3870
26718,63011,Ballwin,Missouri,MO,St. Louis,38.6091,-90.5598
26719,63012,Barnhart,Missouri,MO,Jefferson,38.3384,-90.4142

In [22]:
# join city population/year data to zip codes
# (yes, it's the wrong granularity, but better than nothing;
# we don't know the population within an individual zip code,
# but we at least know the population of the city where that zip code is.)
pop_est_with_zip = zipcodes_raw.merge(
    pop_est_melted, how='inner', left_on='Place Name', right_on='city'
    )[['year','Zip Code','city','population']]

pop_est_with_zip.columns = ['year','zip','city','population']
pop_est_with_zip['zip'] = pop_est_with_zip['zip'].astype(str)

pop_est_with_zip.head()

   year    zip          city  population
0  2010  63005  Chesterfield       47484
1  2011  63005  Chesterfield       47555
2  2012  63005  Chesterfield       47647
3  2013  63005  Chesterfield       47679
4  2014  63005  Chesterfield       47724

In [23]:
# join population estimates to kcpd_agged
kcpd_agged_pop = kcpd_agged.merge(
    pop_est_with_zip, how='inner', left_on=['zip_code','year'],
    right_on=['zip','year']
)

kcpd_agged_pop.head()

,from_date,zip_code,offense_society,offense_person,offense_property,offense_other,dv,firearm,offense_total,year,month,quarter,zip,city,population
0,2010-01-01,64055,1,0,0,0,0,0,1,2010,1,1,64055,Independence,116792
1,2010-02-01,64055,1,0,0,0,0,0,1,2010,2,1,64055,Independence,116792
2,2010-03-01,64055,2,0,0,0,0,0,2,2010,3,1,64055,Independence,116792
3,2010-05-01,64055,1,0,0,0,0,0,1,2010,5,2,64055,Independence,116792
4,2010-07-01,64055,2,0,0,0,0,0,2,2010,7,3,64055,Independence,116792

In [24]:
# import FRED datasets & join them to the kcpd agged set also
# NOTE: all of these are at the level of the entire KC MO/KS MSA,
# and not specific cities within the MSA, let alone at zip code level.

ur = pd.read_csv(data_dir+'KANS129UR.csv') # unemployment rates
hpi = pd.read_csv(data_dir+'ATNHPIUS28140Q.csv') # housing price index
pcpi = pd.read_csv(data_dir+'KANS129PCPI.csv') # per-capita personal income
bppriv = pd.read_csv(data_dir+'KANS129BPPRIV.csv') # new private housing units

In [25]:
# prep & join unemployment rate data
ur.head()

         DATE  KANS129UR
0  1990-01-01        4.8
1  1990-02-01        4.7
2  1990-03-01        4.5
3  1990-04-01        4.5
4  1990-05-01        4.4

In [26]:
# clean column names
ur.columns = ['date','unemployment_rate']

# ur contains month-level data, so to make the join easy we'll add
# 'month' and 'year' columns extracted from 'date'
ur[['month','year']] = pd.DataFrame({'year': pd.to_datetime(ur['date']).dt.year,
              'month': pd.to_datetime(ur['date']).dt.month})

ur.head()

         date  unemployment_rate  month  year
0  1990-01-01                4.8      1  1990
1  1990-02-01                4.7      2  1990
2  1990-03-01                4.5      3  1990
3  1990-04-01                4.5      4  1990
4  1990-05-01                4.4      5  1990

In [27]:
# merge unemployment rates to KCPD agged set
kcpd_agged_ur = kcpd_agged_pop.merge(
    ur[['year','month','unemployment_rate']],
    how='inner', left_on=['year','month'], right_on=['year','month']
)

kcpd_agged_ur.head()

,from_date,zip_code,offense_society,offense_person,offense_property,offense_other,dv,firearm,offense_total,year,month,quarter,zip,city,population,unemployment_rate
0,2010-01-01,64055,1,0,0,0,0,0,1,2010,1,1,64055,Independence,116792,8.8
1,2010-01-01,64101,4,0,0,0,0,0,4,2010,1,1,64101,Kansas City,459946,8.8
2,2010-01-01,64102,1,0,0,0,0,0,1,2010,1,1,64102,Kansas City,459946,8.8
3,2010-01-01,64105,81,2,26,10,3,4,119,2010,1,1,64105,Kansas City,459946,8.8
4,2010-01-01,64106,119,8,73,35,13,6,235,2010,1,1,64106,Kansas City,459946,8.8

In [28]:
# prep & join housing price index data
hpi.head()

         DATE  ATNHPIUS28140Q
0  1976-01-01           44.51
1  1976-04-01           45.54
2  1976-07-01           46.50
3  1976-10-01           46.06
4  1977-01-01           46.77

In [29]:
# hpi contains quarter-level data, so we'll add
# 'year' and 'quarter' columns

hpi.columns = ['date','house_price_index']

hpi[['quarter','year']] = pd.DataFrame({
    'quarter': pd.to_datetime(hpi['date']).dt.quarter,
    'year': pd.to_datetime(hpi['date']).dt.year
    })

hpi.head()

         date  house_price_index  quarter  year
0  1976-01-01              44.51        1  1976
1  1976-04-01              45.54        2  1976
2  1976-07-01              46.50        3  1976
3  1976-10-01              46.06        4  1976
4  1977-01-01              46.77        1  1977

In [30]:
# join hpi to KCPD agged set
kcpd_agged_hpi = kcpd_agged_ur.merge(
    hpi[['year','quarter','house_price_index']],
    how='inner', left_on=['year','quarter'], right_on=['year','quarter']
)

kcpd_agged_hpi.head()

,from_date,zip_code,offense_society,offense_person,offense_property,offense_other,dv,firearm,offense_total,year,month,quarter,zip,city,population,unemployment_rate,house_price_index
0,2010-01-01,64055,1,0,0,0,0,0,1,2010,1,1,64055,Independence,116792,8.8,165.14
1,2010-01-01,64101,4,0,0,0,0,0,4,2010,1,1,64101,Kansas City,459946,8.8,165.14
2,2010-01-01,64102,1,0,0,0,0,0,1,2010,1,1,64102,Kansas City,459946,8.8,165.14
3,2010-01-01,64105,81,2,26,10,3,4,119,2010,1,1,64105,Kansas City,459946,8.8,165.14
4,2010-01-01,64106,119,8,73,35,13,6,235,2010,1,1,64106,Kansas City,459946,8.8,165.14

In [31]:
# prep & join per-capita personal income data
pcpi.head()

         DATE  KANS129PCPI
0  1969-01-01         4068
1  1970-01-01         4341
2  1971-01-01         4691
3  1972-01-01         5115
4  1973-01-01         5561

In [32]:
# pcpi is year-level data, so we just need to extract
# year as a join key
pcpi.columns = ['date','per_cap_income']

pcpi['year'] = pd.to_datetime(pcpi['date']).dt.year

pcpi.head()

         date  per_cap_income  year
0  1969-01-01            4068  1969
1  1970-01-01            4341  1970
2  1971-01-01            4691  1971
3  1972-01-01            5115  1972
4  1973-01-01            5561  1973

In [33]:
# join pcpi to KCPD agged set
kcpd_agged_pcpi = kcpd_agged_hpi.merge(
    pcpi[['year','per_cap_income']],
    how='inner', left_on='year', right_on='year'
)

kcpd_agged_pcpi.head()

,from_date,zip_code,offense_society,offense_person,offense_property,offense_other,dv,firearm,offense_total,year,month,quarter,zip,city,population,unemployment_rate,house_price_index,per_cap_income
0,2010-01-01,64055,1,0,0,0,0,0,1,2010,1,1,64055,Independence,116792,8.8,165.14,40874
1,2010-01-01,64101,4,0,0,0,0,0,4,2010,1,1,64101,Kansas City,459946,8.8,165.14,40874
2,2010-01-01,64102,1,0,0,0,0,0,1,2010,1,1,64102,Kansas City,459946,8.8,165.14,40874
3,2010-01-01,64105,81,2,26,10,3,4,119,2010,1,1,64105,Kansas City,459946,8.8,165.14,40874
4,2010-01-01,64106,119,8,73,35,13,6,235,2010,1,1,64106,Kansas City,459946,8.8,165.14,40874

In [34]:
# prep & join new private housing units data
bppriv.head()

         DATE  KANS129BPPRIV
0  1988-01-01          412.0
1  1988-02-01          655.0
2  1988-03-01         1076.0
3  1988-04-01         1383.0
4  1988-05-01          931.0

In [35]:
# bppriv is month-level, so extract month & year as join key
bppriv.columns = ['date','new_priv_housing']

bppriv[['month','year']] = pd.DataFrame({
    'month': pd.to_datetime(bppriv['date']).dt.month,
    'year': pd.to_datetime(bppriv['date']).dt.year
})

bppriv.head()

         date  new_priv_housing  month  year
0  1988-01-01             412.0      1  1988
1  1988-02-01             655.0      2  1988
2  1988-03-01            1076.0      3  1988
3  1988-04-01            1383.0      4  1988
4  1988-05-01             931.0      5  1988

In [36]:
kcpd_agged_final = kcpd_agged_pcpi.merge(
    bppriv[['month','year','new_priv_housing']],
    how='inner', left_on=['month','year'], right_on=['month','year']
)

kcpd_agged_final.head()

,from_date,zip_code,offense_society,offense_person,offense_property,offense_other,dv,firearm,offense_total,year,month,quarter,zip,city,population,unemployment_rate,house_price_index,per_cap_income,new_priv_housing
0,2010-01-01,64055,1,0,0,0,0,0,1,2010,1,1,64055,Independence,116792,8.8,165.14,40874,127.0
1,2010-01-01,64101,4,0,0,0,0,0,4,2010,1,1,64101,Kansas City,459946,8.8,165.14,40874,127.0
2,2010-01-01,64102,1,0,0,0,0,0,1,2010,1,1,64102,Kansas City,459946,8.8,165.14,40874,127.0
3,2010-01-01,64105,81,2,26,10,3,4,119,2010,1,1,64105,Kansas City,459946,8.8,165.14,40874,127.0
4,2010-01-01,64106,119,8,73,35,13,6,235,2010,1,1,64106,Kansas City,459946,8.8,165.14,40874,127.0