In [1]:
##################################################################
# Download miscellaneous economic time series data sets from FRED
# (I'm cheating right now and getting CSV data using the URL from
# the "download" button on the graph. A more robust solution would
# be to consume the FRED REST API & parse the JSON response.)
##################################################################

import pandas as pd
import numpy as np
import requests
import os

def download_file(url, dir, file) :
    """Downloads a file from url and writes it to path out"""
    r = requests.get(url)
    if not os.path.exists(dir) :
        os.makedirs(dir)
    if not os.path.exists(dir+file) : # don't re-download the file on repeat runs
        with open(dir+file, 'wb') as f :
            f.write(r.content)

In [2]:
def SKIP_download_files() :
    """not a real function, just making it one to easily skip running this chunk of code"""
    ##########################
    # Download KCPD crime data
    ##########################
    
    data_dir = './data/'
    

    #KCPD Crime 2009
    url = 'https://data.kcmo.org/api/views/6efz-664k/rows.csv?accessType=DOWNLOAD'
    download_file(url, data_dir, 'KCPD-Crime-Data-2009.csv')

    #KCPD Crime 2010
    url = 'https://data.kcmo.org/api/views/tk79-kf9y/rows.csv?accessType=DOWNLOAD'
    download_file(url, data_dir, 'KCPD-Crime-Data-2010.csv')

    #KCPD Crime 2011
    url = 'https://data.kcmo.org/api/views/nt2f-uxvx/rows.csv?accessType=DOWNLOAD'
    download_file(url, data_dir, 'KCPD-Crime-Data-2011.csv')

    #KCPD Crime 2012
    url = 'https://data.kcmo.org/api/views/csec-aghy/rows.csv?accessType=DOWNLOAD'
    download_file(url, data_dir, 'KCPD-Crime-Data-2012.csv')

    #KCPD Crime 2013
    url = 'https://data.kcmo.org/api/views/m3xd-e7tp/rows.csv?accessType=DOWNLOAD'
    download_file(url, data_dir, 'KCPD-Crime-Data-2013.csv')

    #KCPD Crime 2014
    url = 'https://data.kcmo.org/api/views/yu5f-iqbp/rows.csv?accessType=DOWNLOAD'
    download_file(url, data_dir, 'KCPD-Crime-Data-2014.csv')

    #KCPD Crime 2015
    url = 'https://data.kcmo.org/api/views/kbzx-7ehe/rows.csv?accessType=DOWNLOAD'
    download_file(url, data_dir, 'KCPD-Crime-Data-2015.csv')

    #KCPD Crime 2016
    url = 'https://data.kcmo.org/api/views/wbz8-pdv7/rows.csv?accessType=DOWNLOAD'
    download_file(url, data_dir, 'KCPD-Crime-Data-2016.csv')

    #KCPD Crime 2017
    url = 'https://data.kcmo.org/api/views/98is-shjt/rows.csv?accessType=DOWNLOAD'
    download_file(url, data_dir, 'KCPD-Crime-Data-2017.csv')

    #KCPD Crime 2018
    url = 'https://data.kcmo.org/api/views/dmjw-d28i/rows.csv?accessType=DOWNLOAD'
    download_file(url, data_dir, 'KCPD-Crime-Data-2018.csv')

    ###########################
    # Download FRED datasets
    ###########################

    #KANS129UR - KC monthly unemployment rates
    url = 'https://fred.stlouisfed.org/graph/fredgraph.csv?cosd=1990-01-01&coed=2018-04-01&mode=fred&id=KANS129UR&nd=1990-01-01&fgsnd=2009-06-01&fq=Monthly&fam=avg'
    download_file(url, data_dir, 'KANS129UR.csv')

    #ATNHPIUS28140Q - All-Transactions House Price Index for Kansas City, MO-KS (MSA)
    url = 'https://fred.stlouisfed.org/graph/fredgraph.csv?cosd=1976-01-01&coed=2018-01-01&mode=fred&id=ATNHPIUS28140Q&nd=1976-01-01&fgsnd=2009-06-01&fq=Quarterly&fam=avg'
    download_file(url, data_dir, 'ATNHPIUS28140Q.csv')

    #KANS129PCPI - Per Capita Personal Income in Kansas City, MO-KS (MSA)
    url = 'https://fred.stlouisfed.org/graph/fredgraph.csv?&cosd=1969-01-01&coed=2016-01-01&mode=fred&id=KANS129PCPI&nd=1969-01-01&fgsnd=2009-06-01&fq=Annual&fam=avg'
    download_file(url, data_dir, 'KANS129PCPI.csv')

    #KANS129BPPRIV - New Private Housing Units Authorized by Building Permits for Kansas City, MO-KS (MSA)
    url = 'https://fred.stlouisfed.org/graph/fredgraph.csv?&cosd=1988-01-01&coed=2018-04-01&mode=fred&id=KANS129BPPRIV&fq=Monthly&fam=avg'
    download_file(url, data_dir, 'KANS129BPPRIV.csv')
    
SKIP_download_files()

In [3]:
data_dir = './data/'

# read kcpd files to pandas dataframes
file = data_dir+'KCPD-Crime-Data-2009.csv'
kcpd2009_raw = pd.read_csv(file, encoding='utf-8')

file = data_dir+'KCPD-Crime-Data-2010.csv'
kcpd2010_raw = pd.read_csv(file, encoding='utf-8')

file = data_dir+'KCPD-Crime-Data-2011.csv'
kcpd2011_raw = pd.read_csv(file, encoding='utf-8')

file = data_dir+'KCPD-Crime-Data-2012.csv'
kcpd2012_raw = pd.read_csv(file, encoding='utf-8')

file = data_dir+'KCPD-Crime-Data-2013.csv'
kcpd2013_raw = pd.read_csv(file, encoding='utf-8')

file = data_dir+'KCPD-Crime-Data-2014.csv'
kcpd2014_raw = pd.read_csv(file, encoding='utf-8')

file = data_dir+'KCPD-Crime-Data-2015.csv'
kcpd2015_raw = pd.read_csv(file, encoding='utf-8')

file = data_dir+'KCPD-Crime-Data-2016.csv'
kcpd2016_raw = pd.read_csv(file, encoding='utf-8')

file = data_dir+'KCPD-Crime-Data-2017.csv'
kcpd2017_raw = pd.read_csv(file, encoding='utf-8')

file = data_dir+'KCPD-Crime-Data-2018.csv'
kcpd2018_raw = pd.read_csv(file, encoding='utf-8')

In [4]:
kcpd2009_raw.columns

Index(['Report_No', 'Reported_Date', 'Reported Time', 'From_Date', 'From Time',
       'To_Date', 'To_Time', 'Offense', 'IBRS', 'Description', 'Beat',
       'Address', 'City', 'Zip Code', 'Rep_Dist', 'Area', 'DVFlag', 'Invl_No',
       'Involvement', 'Race', 'Sex', 'Age', 'Location 1',
       'Firearm Used Flag  '],
      dtype='object')

In [5]:
kcpd2010_raw.columns # surprise! inconsistent columns/positions between years!

Index(['Report_No', 'Reported_Date', 'Reported Time', 'From_Date', 'From Time',
       'To_Date', 'To Time', 'Offense', 'IBRS', 'Description', 'Beat',
       'Address', 'Zip Code', 'City', 'Rep_Dist', 'Area', 'DVFlag', 'Invl_No',
       'Involvement', 'Race', 'Sex', 'Age', 'Location 1',
       'Firearm Used Flag  '],
      dtype='object')

In [6]:
def clean_column_names(df) :
    """Cleans up dataframe column names to lowercase, strip leading/trailing space,
       and replace spaces with underscores."""
    cols = list(df.columns)
    cols = (col.lower() for col in cols)
    cols = (col.strip() for col in cols)
    cols = (col.replace(' ','_') for col in cols)
    
    #one column is named 'Location_1' in some files, and 'Location' in others
    cols = (col.replace('location_1','location') for col in cols)
    
    df.columns = list(cols)
    
    return df

In [7]:
# clean up the column names in all the raw dataframes
kcpd2009_raw = clean_column_names(kcpd2009_raw)
kcpd2010_raw = clean_column_names(kcpd2010_raw)
kcpd2011_raw = clean_column_names(kcpd2011_raw)
kcpd2012_raw = clean_column_names(kcpd2012_raw)
kcpd2013_raw = clean_column_names(kcpd2013_raw)
kcpd2014_raw = clean_column_names(kcpd2014_raw)
kcpd2015_raw = clean_column_names(kcpd2015_raw)
kcpd2016_raw = clean_column_names(kcpd2016_raw)
kcpd2017_raw = clean_column_names(kcpd2017_raw)
kcpd2018_raw = clean_column_names(kcpd2018_raw)

In [8]:
kcpd2013_raw.head(5)

,report_no,reported_date,reported_time,from_date,from_time,to_date,to_time,offense,ibrs,description,...,rep_dist,area,dvflag,invl_no,involvement,race,sex,age,firearm_used_flag,location
0,100021070,04/24/2013,14:17,04/24/2013,14:17,NaN,NaN,1352,280,Stolen Property OFFE,...,PJ0407,CPD,U,1,VIC,NaN,NaN,NaN,N,"400 HIGHLAND AV\nKANSAS CITY, MO 64109\n(39.11..."
1,130050237,07/17/2013,13:08,07/17/2013,13:00,NaN,NaN,1050,250,Counterfeiting,...,PJ1414,EPD,U,1,VIC,NaN,NaN,NaN,N,"3800 E TRUMAN RD\nKANSAS CITY, MO 64127\n(39.0..."
2,60014842,05/19/2013,13:00,05/19/2013,13:00,NaN,NaN,2601,90Z,Misc Violation,...,PC1119,NPD,U,1,VIC,NaN,NaN,NaN,N,"4100 N MULBERRY DR\nKANSAS CITY, MO 64117\n(39..."
3,130061195,08/25/2013,22:06,08/25/2013,16:45,08/25/2013,21:50,640,23F,Stealing From Auto,...,PJ6440,SPD,U,1,VIC,W,F,78.0,N,"9200 NORTHERN AV\nKANSAS CITY, MO 64138\n(38.9..."
4,130046088,07/02/2013,9:42,07/02/2013,9:42,NaN,NaN,2402,90C,Disorderly Conduct,...,PJ3396,CPD,U,2,ARR,B,M,32.0,N,"4200 FOREST AV\nKANSAS CITY, MO 64110\n(39.050..."

In [9]:
def kcpd_clean(df) :
    """Cleans a pandas dataframe of KCPD crime data for a given year &
       prunes down to attributes that will be used for analysis.
    """

    # Keep 'involvement' = 'VIC' (victim) rows; we'll count crimes by type & victim
    # Also drop rows that appear to be duplicates (i.e. two #1 victims on report for same IBRS code).
    df = df[df['involvement']=='VIC'].drop_duplicates(subset=['report_no','ibrs','invl_no'], keep='first')
    
    # convert string dates to datetimes (ignore time of day; not significant for analyzing monthly crime stats)
    df['reported_date'] = pd.to_datetime(df['reported_date'])
    df['from_date'] = pd.to_datetime(df['from_date'])
    df['to_date'] = pd.to_datetime(df['to_date'].str[:10])
        
    # Drop rows with missing dates, missing zipcodes, or from & to dates in different months
    # (spanning months is no good for monthly aggregation; these are a low percentage of data)
    # TODO: use lat/long if available to look up missing zip (low priority, this is small % of null values)
    mask = (
         df['zip_code'].notnull() &
         df['from_date'].notnull() & (
         df['to_date'].isnull() |
         (df['from_date'].dt.month == df['to_date'].dt.month))
    )
    df = df[mask]
    
    # get rid of decimal on zip codes
    df['zip_code'] = df['zip_code'].astype(str).str.replace('.','').str[:5]
    
    # get rid of non 5 digit zip codes
    df = df[df['zip_code'].str.len() == 5]
    
    # get rid of zip codes obviously not in KCMO
    df = df[df['zip_code'].str[:2].astype(int) == 64]
    
    # clean up the remaining variables
    df['firearm_used'] = df['firearm_used_flag'].apply(lambda x: 1 if x == 'Y' else 0)
    df['dvflag'] = df['dvflag'].apply(lambda x: 1 if x == 'Y' else 0) #ignoring "U" (unknown)
    
    # derive more useful features based on offense/ibrs codes (per https://ucr.fbi.gov/nibrs/nibrs-user-manual)
    ibrs_society = ['720','35A','35B','39A','39B','39C','39D','370','40A','40B','40C','520']
    ibrs_property = ['200','510','220','250','290','270','210','26A','26B','26C','26D','26E',
                     '26F','26G','23A','23B','23C','23D','23E','23F','23G','23H','240','120',
                     '280']
    ibrs_person = ['13A','13B','13C','09A','09B','64A','64B','100','11A','11B','11C','11D','36A','36B']
    ibrs_other = ['90A','90B','90C','90D','90E','90F','90G','90H','90J','90Z'] # all Class B offenses

    df['off_society'] = df['ibrs'].isin(ibrs_society).map(lambda x: 1 if x else 0)
    df['off_property'] = df['ibrs'].isin(ibrs_property).map(lambda x: 1 if x else 0)
    df['off_person'] = df['ibrs'].isin(ibrs_person).map(lambda x: 1 if x else 0)
    df['off_other'] = df['ibrs'].isin(ibrs_other).map(lambda x: 1 if x else 0)
    
    #return new dataframe with only columns we need for subsequent analysis    
    return df[['report_no','from_date','zip_code','dvflag','firearm_used',
              'off_society','off_property','off_person','off_other']]

In [10]:
# process remaining KCPD files through kcpd_transform
kcpd2009 = kcpd_clean(kcpd2009_raw)
kcpd2010 = kcpd_clean(kcpd2010_raw)
kcpd2011 = kcpd_clean(kcpd2011_raw)
kcpd2012 = kcpd_clean(kcpd2012_raw)
kcpd2013 = kcpd_clean(kcpd2013_raw)
kcpd2014 = kcpd_clean(kcpd2014_raw)
kcpd2015 = kcpd_clean(kcpd2015_raw)
kcpd2016 = kcpd_clean(kcpd2016_raw)
kcpd2017 = kcpd_clean(kcpd2017_raw)
kcpd2018 = kcpd_clean(kcpd2018_raw)

In [11]:
# concatenate (union all) the cleaned kcpd dataframes
kcpd_clean_full = pd.concat(
    [kcpd2009, kcpd2010, kcpd2011, kcpd2012, kcpd2013, kcpd2014,
     kcpd2015, kcpd2016, kcpd2017, kcpd2018]
    , ignore_index=True
)

In [12]:
import datetime

def kcpd_agg_monthly_by_zip(df) :
    """Rolls up KCPD crime data by month and zip code."""
    
    #df = df[df['from_date'] >= datetime.date(2009,1,1)]
    df = df[df['from_date'] >= '2009-01-01']
    df['from_date'] = df['from_date'].values.astype('datetime64[M]')

    grouped = df.groupby(['from_date','zip_code']).agg({
                                                        "report_no": "count", "off_society": "sum",
                                                        "off_person": "sum", "off_property": "sum",
                                                        "off_other": "sum", "dvflag": "sum",
                                                        "firearm_used": "sum"
                                                    })
    grouped.columns = ['offense_total','off_society','off_person','off_property','off_other','dv','firearm']
    
    return grouped

In [17]:
kcpd_agged = kcpd_agg_monthly_by_zip(kcpd_clean_full)

kcpd_agged.reset_index(inplace=True)

kcpd_agged.head(20)

/Users/charmon/anaconda/envs/KCAIL/lib/python3.5/site-packages/ipykernel/__main__.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,from_date,zip_code,offense_total,off_society,off_person,off_property,off_other,dv,firearm
0,2009-01-01,64030,0,2,0,0,0,0,2
1,2009-01-01,64050,2,0,0,0,0,0,3
2,2009-01-01,64101,9,0,0,1,1,0,12
3,2009-01-01,64102,1,1,1,1,0,2,3
4,2009-01-01,64104,1,0,0,0,0,0,1
5,2009-01-01,64105,32,0,1,3,5,3,40
6,2009-01-01,64106,93,13,5,38,26,7,171
7,2009-01-01,64107,1,0,0,0,0,0,1
8,2009-01-01,64108,81,8,7,33,11,11,135
9,2009-01-01,64109,129,10,11,54,14,18,208
10,2009-01-01,64110,110,4,4,27,18,15,161
11,2009-01-01,64111,152,14,8,25,16,7,209
12,2009-01-01,64112,44,2,0,6,0,4,52
13,2009-01-01,64113,42,8,0,3,4,0,57
14,2009-01-01,64114,94,2,3,14,5,10,116
15,2009-01-01,64115,1,0,0,0,1,0,2
16,2009-01-01,64116,61,0,5,10,3,1,75
17,2009-01-01,64117,51,11,9,28,8,4,100
18,2009-01-01,64118,99,4,6,32,14,2,149
19,2009-01-01,64119,69,5,1,11,12,0,99

In [14]:
## import other datasets to join to kcpd_agged

# 2010 census & 2011-2017 intercensal estimates for Missouri cities & incorporated places
# (info: https://www.census.gov/data/tables/2017/demo/popest/total-cities-and-towns.html)
url = 'https://www2.census.gov/programs-surveys/popest/datasets/2010-2017/cities/totals/sub-est2017_29.csv'
download_file(url, data_dir, 'sub-est2017_29.csv')

url = 'https://www.aggdata.com/download_sample.php?file=us_postal_codes.csv'
download_file(url, data_dir, 'us_postal_codes.csv')

In [15]:
file = data_dir+'sub-est2017_29.csv'
pop_est = pd.read_csv(file)

In [16]:
pop_est.head()

,SUMLEV,STATE,COUNTY,PLACE,COUSUB,CONCIT,PRIMGEO_FLAG,FUNCSTAT,NAME,STNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2015,POPESTIMATE2016,POPESTIMATE2017
0,40,29,0,0,0,0,0,A,Missouri,Missouri,5988927,5988925,5995681,6010280,6023267,6041142,6058014,6072640,6091176,6113532
1,162,29,0,244,0,0,0,A,Adrian city,Missouri,1677,1677,1676,1668,1633,1617,1628,1609,1610,1608
2,162,29,0,262,0,0,0,A,Advance city,Missouri,1347,1347,1349,1340,1339,1338,1352,1350,1350,1348
3,162,29,0,298,0,0,0,A,Agency village,Missouri,684,683,683,686,685,684,681,680,676,674
4,162,29,0,424,0,0,0,A,Airport Drive village,Missouri,698,698,699,703,823,835,838,845,846,850

In [18]:
file = data_dir+'us_postal_codes.csv'
zipcodes = pd.read_csv(file)

In [19]:
zipcodes.head()

,Zip Code,Place Name,State,State Abbreviation,County,Latitude,Longitude
0,501,Holtsville,New York,NY,Suffolk,40.8154,-73.0451
1,544,Holtsville,New York,NY,Suffolk,40.8154,-73.0451
2,1001,Agawam,Massachusetts,MA,Hampden,42.0702,-72.6227
3,1002,Amherst,Massachusetts,MA,Hampshire,42.3671,-72.4646
4,1003,Amherst,Massachusetts,MA,Hampshire,42.3919,-72.5248

In [59]:
# clean city names in pop_est to match zipcodes
import re

# we only care about the Incorporated Place summary level (SUMLEV = 162)
# in the population estimate dataset.
pop_est = pop_est[pop_est['SUMLEV']==162]

city = pop_est['NAME']

city.head()

1              Adrian city
2             Advance city
3           Agency village
4    Airport Drive village
5                Alba city
Name: NAME, dtype: object

In [60]:
def clean_city_names (city_series) :
    city_series_clean = {}
    for idx, city in city_series.iteritems() :
        city_split = city.split(" ")
        if len(city_split) > 1 :
            if city_split[-2] in ['city','village','town','township'] : # some are like 'Something City city (pt.)'
                city_split = city_split[:-2]
        if city_split[-1] in ['city','village','town','township','(pt.)'] :
            city_split = city_split[:-1]
        if len(city_split) > 1 :
            city_series_clean[idx] = ' '.join(city_split)
        else :
            city_series_clean[idx] = city_split[0]
    return pd.Series(city_series_clean)

In [61]:
city_clean = clean_city_names(city)

In [62]:
city_df = pd.DataFrame(city_clean)
city_df.columns = ['city']

In [63]:
pop_est_2 = pop_est.merge(city_df, how='outer', left_index=True, right_index=True)

In [64]:
pop_est_2.head()

,SUMLEV,STATE,COUNTY,PLACE,COUSUB,CONCIT,PRIMGEO_FLAG,FUNCSTAT,NAME,STNAME,...,ESTIMATESBASE2010,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2015,POPESTIMATE2016,POPESTIMATE2017,city
1,162,29,0,244,0,0,0,A,Adrian city,Missouri,...,1677,1676,1668,1633,1617,1628,1609,1610,1608,Adrian
2,162,29,0,262,0,0,0,A,Advance city,Missouri,...,1347,1349,1340,1339,1338,1352,1350,1350,1348,Advance
3,162,29,0,298,0,0,0,A,Agency village,Missouri,...,683,683,686,685,684,681,680,676,674,Agency
4,162,29,0,424,0,0,0,A,Airport Drive village,Missouri,...,698,699,703,823,835,838,845,846,850,Airport Drive
5,162,29,0,496,0,0,0,A,Alba city,Missouri,...,555,556,555,541,544,545,542,541,542,Alba

In [65]:
pop_est_2['NAME'] = pop_est_2['city']

In [66]:
# reshape pop_est as (city, year, population) 
pop_est_2 = pop_est_2[['NAME','ESTIMATESBASE2010','POPESTIMATE2011','POPESTIMATE2012',
          'POPESTIMATE2013','POPESTIMATE2014','POPESTIMATE2015','POPESTIMATE2016','POPESTIMATE2017']]

pop_est_2.columns = ['city','2010','2011','2012','2013','2014','2015','2016','2017']

pop_est_melted = pd.melt(pop_est_2, id_vars='city', var_name = 'year', value_name = 'population')

pop_est_melted['year'] = pop_est_melted['year'].astype(int)

In [67]:
pop_est_melted.head()

            city  year  population
0         Adrian  2010        1677
1        Advance  2010        1347
2         Agency  2010         683
3  Airport Drive  2010         698
4           Alba  2010         555

In [68]:
# get zip codes list into dataframe
zipcodes_raw = pd.read_csv(data_dir+'us_postal_codes.csv')

In [69]:
# drop all non-Missouri zip codes
zipcodes_raw = zipcodes_raw[zipcodes_raw['State']=='Missouri']

In [70]:
zipcodes_raw.head()

,Zip Code,Place Name,State,State Abbreviation,County,Latitude,Longitude
26715,63005,Chesterfield,Missouri,MO,St. Louis,38.6318,-90.6142
26716,63006,Chesterfield,Missouri,MO,St. Louis,38.6631,-90.5771
26717,63010,Arnold,Missouri,MO,Jefferson,38.4305,-90.3870
26718,63011,Ballwin,Missouri,MO,St. Louis,38.6091,-90.5598
26719,63012,Barnhart,Missouri,MO,Jefferson,38.3384,-90.4142

In [71]:
# join city population/year data to zip codes
# (yes, it's the wrong granularity, but better than nothing)
pop_est_with_zip = zipcodes_raw.merge(
    pop_est_melted, how='inner', left_on='Place Name', right_on='city'
    )[['year','Zip Code','city','population']]

In [72]:
pop_est_with_zip.columns = ['year','zip','city','population']

In [73]:
pop_est_with_zip.head()

   year    zip          city  population
0  2010  63005  Chesterfield       47484
1  2011  63005  Chesterfield       47555
2  2012  63005  Chesterfield       47647
3  2013  63005  Chesterfield       47679
4  2014  63005  Chesterfield       47724