In [1]:
##################################################################
# Download miscellaneous economic time series data sets from FRED
# (I'm cheating right now and getting CSV data using the URL from
# the "download" button on the graph. A more robust solution would
# be to consume the FRED REST API & parse the JSON response.)
##################################################################

import pandas as pd
import numpy as np
import requests

def download_file(url, out) :
    """Downloads a file from url and writes it to path out"""
    r = requests.get(url)
    with open(out, 'wb') as f:
        f.write(r.content)

In [ ]:
def SKIP_download_files() :
    """not a real function, just making it one to easily skip running this chunk of code"""
    ##########################
    # Download KCPD crime data
    ##########################

    #KCPD Crime 2009
    url = 'https://data.kcmo.org/api/views/6efz-664k/rows.csv?accessType=DOWNLOAD'
    download_file(url, './data/KCPD-Crime-Data-2009.csv')

    #KCPD Crime 2010
    url = 'https://data.kcmo.org/api/views/tk79-kf9y/rows.csv?accessType=DOWNLOAD'
    download_file(url, './data/KCPD-Crime-Data-2010.csv')

    #KCPD Crime 2011
    url = 'https://data.kcmo.org/api/views/nt2f-uxvx/rows.csv?accessType=DOWNLOAD'
    download_file(url, './data/KCPD-Crime-Data-2011.csv')

    #KCPD Crime 2012
    url = 'https://data.kcmo.org/api/views/csec-aghy/rows.csv?accessType=DOWNLOAD'
    download_file(url, './data/KCPD-Crime-Data-2012.csv')

    #KCPD Crime 2013
    url = 'https://data.kcmo.org/api/views/m3xd-e7tp/rows.csv?accessType=DOWNLOAD'
    download_file(url, './data/KCPD-Crime-Data-2013.csv')

    #KCPD Crime 2014
    url = 'https://data.kcmo.org/api/views/yu5f-iqbp/rows.csv?accessType=DOWNLOAD'
    download_file(url, './data/KCPD-Crime-Data-2014.csv')

    #KCPD Crime 2015
    url = 'https://data.kcmo.org/api/views/kbzx-7ehe/rows.csv?accessType=DOWNLOAD'
    download_file(url, './data/KCPD-Crime-Data-2015.csv')

    #KCPD Crime 2016
    url = 'https://data.kcmo.org/api/views/wbz8-pdv7/rows.csv?accessType=DOWNLOAD'
    download_file(url, './data/KCPD-Crime-Data-2016.csv')

    #KCPD Crime 2017
    url = 'https://data.kcmo.org/api/views/98is-shjt/rows.csv?accessType=DOWNLOAD'
    download_file(url, './data/KCPD-Crime-Data-2017.csv')

    #KCPD Crime 2018
    url = 'https://data.kcmo.org/api/views/dmjw-d28i/rows.csv?accessType=DOWNLOAD'
    download_file(url, './data/KCPD-Crime-Data-2018.csv')

    ###########################
    # Download FRED datasets
    ###########################

    #KANS129UR - KC monthly unemployment rates
    url = 'https://fred.stlouisfed.org/graph/fredgraph.csv?cosd=1990-01-01&coed=2018-04-01&mode=fred&id=KANS129UR&nd=1990-01-01&fgsnd=2009-06-01&fq=Monthly&fam=avg'
    download_file(url, './data/KANS129UR.csv')

    #ATNHPIUS28140Q - All-Transactions House Price Index for Kansas City, MO-KS (MSA)
    url = 'https://fred.stlouisfed.org/graph/fredgraph.csv?cosd=1976-01-01&coed=2018-01-01&mode=fred&id=ATNHPIUS28140Q&nd=1976-01-01&fgsnd=2009-06-01&fq=Quarterly&fam=avg'
    download_file(url, './data/ATNHPIUS28140Q.csv')

    #KANS129PCPI - Per Capita Personal Income in Kansas City, MO-KS (MSA)
    url = 'https://fred.stlouisfed.org/graph/fredgraph.csv?&cosd=1969-01-01&coed=2016-01-01&mode=fred&id=KANS129PCPI&nd=1969-01-01&fgsnd=2009-06-01&fq=Annual&fam=avg'
    download_file(url, './data/KANS129PCPI.csv')

    #KANS129BPPRIV - New Private Housing Units Authorized by Building Permits for Kansas City, MO-KS (MSA)
    url = 'https://fred.stlouisfed.org/graph/fredgraph.csv?&cosd=1988-01-01&coed=2018-04-01&mode=fred&id=KANS129BPPRIV&fq=Monthly&fam=avg'
    download_file(url, './data/KANS129BPPRIV.csv')

In [2]:
# read kcpd files to pandas dataframes
file = './data/KCPD-Crime-Data-2009.csv'
kcpd2009_raw = pd.read_csv(file, encoding='utf-8')

file = './data/KCPD-Crime-Data-2010.csv'
kcpd2010_raw = pd.read_csv(file, encoding='utf-8')

file = './data/KCPD-Crime-Data-2011.csv'
kcpd2011_raw = pd.read_csv(file, encoding='utf-8')

file = './data/KCPD-Crime-Data-2012.csv'
kcpd2012_raw = pd.read_csv(file, encoding='utf-8')

file = './data/KCPD-Crime-Data-2013.csv'
kcpd2013_raw = pd.read_csv(file, encoding='utf-8')

file = './data/KCPD-Crime-Data-2014.csv'
kcpd2014_raw = pd.read_csv(file, encoding='utf-8')

file = './data/KCPD-Crime-Data-2015.csv'
kcpd2015_raw = pd.read_csv(file, encoding='utf-8')

file = './data/KCPD-Crime-Data-2016.csv'
kcpd2016_raw = pd.read_csv(file, encoding='utf-8')

file = './data/KCPD-Crime-Data-2017.csv'
kcpd2017_raw = pd.read_csv(file, encoding='utf-8')

file = './data/KCPD-Crime-Data-2018.csv'
kcpd2018_raw = pd.read_csv(file, encoding='utf-8')

In [8]:
kcpd2009_raw.columns

Index(['Report_No', 'Reported_Date', 'Reported Time', 'From_Date', 'From Time',
       'To_Date', 'To_Time', 'Offense', 'IBRS', 'Description', 'Beat',
       'Address', 'City', 'Zip Code', 'Rep_Dist', 'Area', 'DVFlag', 'Invl_No',
       'Involvement', 'Race', 'Sex', 'Age', 'Location 1',
       'Firearm Used Flag  '],
      dtype='object')

In [5]:
kcpd2010_raw.columns # surprise! inconsistent columns/positions between years!

Index(['Report_No', 'Reported_Date', 'Reported Time', 'From_Date', 'From Time',
       'To_Date', 'To Time', 'Offense', 'IBRS', 'Description', 'Beat',
       'Address', 'Zip Code', 'City', 'Rep_Dist', 'Area', 'DVFlag', 'Invl_No',
       'Involvement', 'Race', 'Sex', 'Age', 'Location 1',
       'Firearm Used Flag  '],
      dtype='object')

In [89]:
def clean_column_names(df) :
    """Cleans up dataframe column names to lowercase, strip leading/trailing space,
       and replace spaces with underscores."""
    cols = list(df.columns)
    cols = (col.lower() for col in cols)
    cols = (col.strip() for col in cols)
    cols = (col.replace(' ','_') for col in cols)
    
    #one column is named 'Location_1' in some files, and 'Location' in others
    cols = (col.replace('location_1','location') for col in cols)
    
    df.columns = list(cols)
    
    return df

['report_no',
 'reported_date',
 'reported_time',
 'from_date',
 'from_time',
 'to_date',
 'to_time',
 'offense',
 'ibrs',
 'description',
 'beat',
 'address',
 'city',
 'zip_code',
 'rep_dist',
 'area',
 'dvflag',
 'invl_no',
 'involvement',
 'race',
 'sex',
 'age',
 'location',
 'firearm_used_flag']

In [90]:
# clean up the column names in all the raw dataframes
kcpd2009_raw = clean_column_names(kcpd2009_raw)
kcpd2010_raw = clean_column_names(kcpd2010_raw)
kcpd2011_raw = clean_column_names(kcpd2011_raw)
kcpd2012_raw = clean_column_names(kcpd2012_raw)
kcpd2013_raw = clean_column_names(kcpd2013_raw)
kcpd2014_raw = clean_column_names(kcpd2014_raw)
kcpd2015_raw = clean_column_names(kcpd2015_raw)
kcpd2016_raw = clean_column_names(kcpd2016_raw)
kcpd2017_raw = clean_column_names(kcpd2017_raw)
kcpd2018_raw = clean_column_names(kcpd2018_raw)

In [91]:
kcpd2013_raw.head(5)

,report_no,reported_date,reported_time,from_date,from_time,to_date,to_time,offense,ibrs,description,...,rep_dist,area,dvflag,invl_no,involvement,race,sex,age,firearm_used_flag,location
0,100021070,04/24/2013,14:17,04/24/2013,14:17,NaN,NaN,1352,280,Stolen Property OFFE,...,PJ0407,CPD,U,1,VIC,NaN,NaN,NaN,N,"400 HIGHLAND AV\nKANSAS CITY, MO 64109\n(39.11..."
1,130050237,07/17/2013,13:08,07/17/2013,13:00,NaN,NaN,1050,250,Counterfeiting,...,PJ1414,EPD,U,1,VIC,NaN,NaN,NaN,N,"3800 E TRUMAN RD\nKANSAS CITY, MO 64127\n(39.0..."
2,60014842,05/19/2013,13:00,05/19/2013,13:00,NaN,NaN,2601,90Z,Misc Violation,...,PC1119,NPD,U,1,VIC,NaN,NaN,NaN,N,"4100 N MULBERRY DR\nKANSAS CITY, MO 64117\n(39..."
3,130061195,08/25/2013,22:06,08/25/2013,16:45,08/25/2013,21:50,640,23F,Stealing From Auto,...,PJ6440,SPD,U,1,VIC,W,F,78.0,N,"9200 NORTHERN AV\nKANSAS CITY, MO 64138\n(38.9..."
4,130046088,07/02/2013,9:42,07/02/2013,9:42,NaN,NaN,2402,90C,Disorderly Conduct,...,PJ3396,CPD,U,2,ARR,B,M,32.0,N,"4200 FOREST AV\nKANSAS CITY, MO 64110\n(39.050..."

In [138]:
def kcpd_clean(df) :
    """Cleans a pandas dataframe of KCPD crime data for a given year &
       prunes down to attributes that will be used for analysis.
    """

    # Keep 'involvement' = 'VIC' (victim) rows; we'll count crimes by type & victim
    # Also drop rows that appear to be duplicates (i.e. two #1 victims on report for same IBRS code).
    df = df[df['involvement']=='VIC'].drop_duplicates(subset=['report_no','ibrs','invl_no'], keep='first')
    
    # convert string dates to datetimes (ignore time of day; not significant for analyzing monthly crime stats)
    df['reported_date'] = pd.to_datetime(df['reported_date'])
    df['from_date'] = pd.to_datetime(df['from_date'])
    df['to_date'] = pd.to_datetime(df['to_date'].str[:10])
        
    # Drop rows with missing dates, missing zipcodes, or from & to dates in different months
    # (spanning months is no good for monthly aggregation; these are a low percentage of data)
    # TODO: use lat/long if available to look up missing zip (low priority, this is small % of null values)
    mask = (
         df['zip_code'].notnull() &
         df['from_date'].notnull() & (
         df['to_date'].isnull() |
         (df['from_date'].dt.month == df['to_date'].dt.month))
    )
    df = df[mask]
    
    # get rid of decimal on zip codes
    df['zip_code'] = df['zip_code'].astype(str).str.replace('.','').str[:5]
    
    # get rid of non 5 digit zip codes
    df = df[df['zip_code'].str.len() == 5]
    
    # clean up the remaining variables
    df['firearm_used'] = df['firearm_used_flag'].apply(lambda x: 1 if x == 'Y' else 0)
    df['dvflag'] = df['dvflag'].apply(lambda x: 1 if x == 'Y' else 0) #ignoring "U" (unknown)
    
    # derive more useful features based on offense/ibrs codes (per https://ucr.fbi.gov/nibrs/nibrs-user-manual)
    ibrs_society = ['720','35A','35B','39A','39B','39C','39D','370','40A','40B','40C','520']
    ibrs_property = ['200','510','220','250','290','270','210','26A','26B','26C','26D','26E',
                     '26F','26G','23A','23B','23C','23D','23E','23F','23G','23H','240','120',
                     '280']
    ibrs_person = ['13A','13B','13C','09A','09B','64A','64B','100','11A','11B','11C','11D','36A','36B']
    ibrs_other = ['90A','90B','90C','90D','90E','90F','90G','90H','90J','90Z'] # all Class B offenses

    df['off_society'] = df['ibrs'].isin(ibrs_society).map(lambda x: 1 if x else 0)
    df['off_property'] = df['ibrs'].isin(ibrs_property).map(lambda x: 1 if x else 0)
    df['off_person'] = df['ibrs'].isin(ibrs_person).map(lambda x: 1 if x else 0)
    df['off_other'] = df['ibrs'].isin(ibrs_other).map(lambda x: 1 if x else 0)
    
    #return new dataframe with only columns we need for subsequent analysis    
    return df[['report_no','from_date','zip_code','dvflag','firearm_used',
              'off_society','off_property','off_person','off_other']]

In [139]:
# process remaining KCPD files through kcpd_transform
kcpd2009 = kcpd_clean(kcpd2009_raw)
kcpd2010 = kcpd_clean(kcpd2010_raw)
kcpd2011 = kcpd_clean(kcpd2011_raw)
kcpd2012 = kcpd_clean(kcpd2012_raw)
kcpd2013 = kcpd_clean(kcpd2013_raw)
kcpd2014 = kcpd_clean(kcpd2014_raw)
kcpd2015 = kcpd_clean(kcpd2015_raw)
kcpd2016 = kcpd_clean(kcpd2016_raw)
kcpd2017 = kcpd_clean(kcpd2017_raw)
kcpd2018 = kcpd_clean(kcpd2018_raw)

In [141]:
# concatenate (union all) the cleaned kcpd dataframes
kcpd_clean_full = pd.concat(
    [kcpd2009, kcpd2010, kcpd2011, kcpd2012, kcpd2013, kcpd2014,
     kcpd2015, kcpd2016, kcpd2017, kcpd2018]
    , ignore_index=True
)

,report_no,from_date,zip_code,dvflag,firearm_used,off_society,off_property,off_person,off_other
580700,180044151,2018-06-11,64137,0,0,0,1,0,0
580701,180045568,2018-06-16,64123,0,0,1,0,0,0
580702,180044305,2018-06-10,64119,0,0,0,1,0,0
580703,180043241,2018-05-30,64113,0,0,0,1,0,0
580704,180045492,2018-06-15,64127,0,0,0,1,0,0

In [177]:
import datetime

def kcpd_agg_monthly_by_zip(df) :
    """Rolls up KCPD crime data by month and zip code."""
    
    df = df[df['from_date'] >= datetime.date(2009,1,1)]
    df['from_date'] = df['from_date'].values.astype('datetime64[M]')

    grouped = df.groupby(['from_date','zip_code']).agg({
                                                        "report_no": "count", "off_society": "sum",
                                                        "off_person": "sum", "off_property": "sum",
                                                        "off_other": "sum", "dvflag": "sum",
                                                        "firearm_used": "sum"
                                                    })
    grouped.columns = ['offense_total','off_society','off_person','off_property','off_other','dv','firearm']
    
    return grouped

In [178]:
kcpd_agged = kcpd_agg_monthly_by_zip(kcpd_clean_full)

kcpd_agged.head(20)

/home/nbuser/anaconda3_501/lib/python3.6/site-packages/ipykernel/__main__.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

                     offense_total  off_society  off_person  off_property  \
from_date  zip_code
2009-01-01 4108.                 1            0           0             1
           54117                 1            0           0             1
           54130                 1            0           0             1
           54138                 1            0           0             0
           54155                 1            0           0             0
           62130                 1            0           0             1
           63123                 1            0           0             1
           64030                 2            2           0             0
           64050                 3            0           0             2
           64101                12            0           1             9
           64102                 3            1           1             1
           64104                 1            0           0             1
           64105                40            0           3            32
           64106               171           13          38            93
           64107                 1            0           0             1
           64108               135            8          33            81
           64109               208           10          54           129
           64110               161            4          27           110
           64111               209           14          25           152
           64112                52            2           6            44

                     off_other  dv  firearm
from_date  zip_code
2009-01-01 4108.             0   0        0
           54117             0   0        0
           54130             0   0        0
           54138             1   0        0
           54155             1   0        0
           62130             0   0        0
           63123             0   0        0
           64030             0   0        0
           64050             0   0        0
           64101             1   0        0
           64102             0   1        2
           64104             0   0        0
           64105             5   1        3
           64106            26   5        7
           64107             0   0        0
           64108            11   7       11
           64109            14  11       18
           64110            18   4       15
           64111            16   8        7
           64112             0   0        4